@model School.Domain.ViewModels.LoginAndRegistration.CartViewModel

@{
    Layout = "Layout4";
    ViewData["Title"] = "Корзина";
}

<h2>Корзина</h2>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Общая стоимость</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>
                    <button class="btn btn-sm btn-secondary" onclick="updateQuantity('@item.Id', -1)">-</button>
                    <p id="quantity-@item.Id">@item.Quantity</p>
                    <button class="btn btn-sm btn-secondary" onclick="updateQuantity('@item.Id', 1)">+</button>
                </td>
                <td>@item.Price руб</td>
                <td id="total-@item.Id">@item.Total руб</td>
                <td>
                    <button class="btn btn-sm btn-danger" onclick="deleteItem('@item.Id')">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<h3><button>Оплатить</button></h3>
